<div class="message">
    <div
        class="grid grid-cols-[minmax(625px,9fr),minmax(20px,0.5fr)] grid-rows-[0.5fr,minmax(125px,5fr)] gap-[0.25em] bg-purple-800 p-3">
        <h3 class="message__username col-span-2 row-start-1 bg-purple-400">You as <%= username %>:</h3>
        <div class="col-start-1 row-start-2 bg-white" id="canvas-container">
            <canvas id="canvas" class="canvas">
        </div>
        </canvas>
        <div
        class="message__actions col-start-2 row-start-2 bg-purple-400 flex flex-col-reverse items-center justify-between py-2">
        <!-- Send button -->
        <button id="send" class="send">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 justify-self-end">
                <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
            </svg>
        </button>
    </div>
    <script src="js/canvas.js"></script>
    </div>
</div>
