svg{
    pointer-events: none;
}

.message__username>h3 {
    color: var(--black-blue-color) !important;
}

.color-toolbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 15px;
}

.color-palette{
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(105, 101, 101);
}

#canvas {
    width: 100%;
    height: 100%;
}

section{
      /* for the slide/ fade in animation */
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 1s ease-in-out, transform 1s ease-in-out
}

/* also for the slide/ fade in animation */
.slide-up {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
