svg{
    pointer-events: none;
}

.message__username>h3 {
    color: var(--black-blue-color) !important;
}

.color-toolbar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    z-index: 3;
    margin-bottom: 15px;
}

.color-palette{
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(105, 101, 101);
}

#canvas {
    width: 100%;
    height: 100%;
}

.toolbar-icon > svg {
    width: 1.8rem;
    height: 1.8rem;
}

/* for sending animation */
.canvas-container--slideUp {
  position: relative;
  animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}
