@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #8077fe;
    --secondary-color: #6b63c9;
    --tertiary-color: #49467d;
    --black-blue-color: #383651;
    --dark-gray-color: #27242c;
    --dark-gray-color-50: #27242c50;
}

body, label, input {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
.logo {
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
}

h3,
h4,
h5,
h6,
a,
p {
    font-family: 'IBM Plex Sans', sans-serif !important;
    color: var(--black-blue-color) !important;
}

h1 {
    font-size: 4rem !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 2rem !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

h4 {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
}

h5 {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

h6 {
    font-size: 1rem !important;
    font-weight: 400 !important;
}

a {
    color: var(--secondary-color) !important;
    text-decoration: none !important;
    transition: color 0.2s ease-in-out !important;
}

a:hover {
    color: var(--primary-color) !important;
}


input[type=submit],
button[type=submit] {
    color: white !important;
    background-color: var(--secondary-color) !important;
    border: none !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    transition: background-color 0.2s ease-in-out !important;
}

input[type=submit]:hover,
button[type=submit]:hover {
    background-color: var(--primary-color) !important;
}

input[type="text"] {
    border: 1px solid var(--primary-color);
}

.container {
    background-color: var(--dark-gray-color) !important;
}

.border {
    border: 1px solid var(--black-blue-color) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}