
body::before {
    content: "";
    background-color: var(--dark-gray-color-50);
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background: url('/img/welcome-background.jpg') no-repeat;
    background-size: cover;
    
    /* for the slide/ fade in animation */
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out
}

/* also for the slide/ fade in animation */
.slide-up {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

input[type="text"]::placeholder {
    text-align: center;
}
