<!DOCTYPE html>
<html lang="en">

<head>
    <title>Drawtopia</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/chatroom.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Inter:wght@700&display=swap"
        rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        module.exports = {
            purge: [],
            darkMode: false, // or 'media' or 'class'
            theme: {
                extend: {},
                colors: {
                    'primblue': '#8077fe',
                    '2ndblue': '#6b63c9',
                    '3rdblue': '#49467d',
                    'blackblue': '#383651',
                    'darkgrey': '#27242c',
                }
            },
            variants: {
                extend: {},
            },
            plugins: [],
        }

    </script>

    <title>Drawtopia - {SERVERNAME}</title>
</head>

<body class="overflow-hidden">
    <div
        class="h-screen w-screen divide-x-4 grid grid-cols-[minmax(50px,_1fr)_minmax(350px,_4fr)_minmax(50px,_1fr)] grid-rows-1">
        <section id="toolbar-container" ></section>
        <main id="chatroom-container">
            <div id="header" class="relative">
                <div class="sticky top-0 z-50 bg-indigo-200">
                    <header class="flex items-center justify-between px-4 h-14">
                        <h2 class="text-lg font-semibold">{SERVERNAME}</h2>
                        <img src="img/logo.png" alt="Drawtopia" class="h-full">
                    </header>
                </div>
            </div>
            <div id="messages-container" class="divide-y-5 h-screen flex flex-col gap-2 overflow-y-scroll no-scrollbar">
                <%#- include('../partials/message') %>
                <%- include('../partials/canvas') %>
            </div>
        </main>
        <div id="memberlist-container" ></div>
    </div>
</body>

</html>