<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawtopia - welcome ;)</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/welcome.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="h-screen w-screen grid place-items-center bg-primary-color bg-opacity-100">
    <div id="welcome-card" class="flex flex-col justify-center items-center rounded-lg p-4 bg-white drop-shadow-md">
        <img src="img/logo.png" alt="Drawtopia">
        <div id="form-container" class="pb-5">
            <form action="/welcome/setUsername" method="post">
                <input type="text" name="username" id="username" autocomplete="off" placeholder="enter a nickname" minlength="1" maxlength="16"
                class="my-3 px-2 py-1 rounded-sm"
                </div>
                <div id="servers-container" class="flex flex-col justify-center items-center gap-2">
                    <input type="submit" value="server-name-1" class="w-full py-4 rounded-md font-semibold">
                    <input type="submit" value="server-name-2" class="w-full py-4 rounded-md font-semibold">
                    <input type="submit" value="server-name-3" class="w-full py-4 rounded-md font-semibold">
                </div>
            </form>
        </div>
        <small><a href="/TODO:IMPLEMENT">Why does Drawtopia require my location?</a></small> 
    </div>
    
</body>
</html>